.containerIcons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    height: 0px;
}


.containerIcons.menu {
    position: relative;
    top: -25px;
    margin-right: 3rem;
}

@media (max-width: 1024px) {
    .containerIcons.menu {
        margin-right: 1rem;
    }
        
}