.containerIcons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #414F45;
    gap: 1rem;
    height: 45px;
}

.iconesRedes a img:last-child{
    margin-right: 2rem;
}
